<%= form_for [@rb.toi.grp, @rb.toi, @rb] do |f| %>
<p>
    <% #業種（toi）リストボックスに変更 %>
    <%= f.collection_select :toi_no, @tois, :toi_no, :toi_name %><br>
    <%= f.label :rb_no %><br>
    <%= f.text_field :rb_no %><br>
    <%= f.label :rb_name %><br>
    <%= f.text_field :rb_name %><br>
    <% if @rb.errors.any? %>
    <%= @rb.errors.messages[:rb_name][0] %>
    <% end %>
</p>

<p>
    <%= f.submit %>
</p>

<% end %>