<p id="notice"><%= notice %></p>

<p>
  <strong>Rb no:</strong>
  <%= @rb.rb_no %>
</p>

<p>
  <strong>Rb name:</strong>
  <%= @rb.rb_name %>
</p>

<p>
  <strong>Toi no:</strong>
  <%= @rb.toi_no %>
</p>

<%= link_to 'Edit', edit_rb_path(@rb) %> |
<%= link_to 'Back', rbs_path %>
