<h3>分類：　<%= @toi.grp.grp_name %></h3>
<h1><%= @toi.toi_name %></h1>

<ul>
  <% @toi.rbs.each do |rb| %>
<li>
  <%= rb.rb_no %>
  <%= rb.rb_name %>
  <%= link_to "[Edit]", edit_grp_toi_rb_path(rb.toi.grp.id, rb.toi.id, rb.id) %>
  <%= link_to "[Delete]", grp_toi_rb_path(rb.toi.grp.id, rb.toi.id, rb.id), method: :delete,
  		data: {confirm: "Are you sure?" } %>
</li>	
<% end %>

<%= form_for [@grp, @toi, @toi.rbs.build] do |f| %>
<%#= form_for [@toi, @toi.rbs.build] do |f| %>
<p>
	<%= f.label :rb_no %>
	<%= f.text_field :rb_no %><br>
	<%= f.label :rb_name %>
	<%= f.text_field :rb_name %><br>
	<%= f.submit %>
	<% end %>
</p>

</ul>
<%= link_to "分類一覧", grps_path %> >