<h1>登録業者一覧</h1>
<%= link_to '新規登録', new_corp_path %>
<table>
  <thead>
    <tr>
      <td>受付番号</td>
      <td>業者名</td>
    </tr>
  </thead>
  <tbody>
    <% @corp.each do |corp| %>
    <tr>
      <td><%= corp.corp_no %></td>
      <td><%= corp.corp_name %></td>
      <td>
        <%= link_to '[Show]', corp_path(corp.id) %>
        <%= link_to '[Edit]', edit_corp_path(corp.id) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
