<%= form_for @grp do |f| %>
<p>
    <%= f.label :grp_name %><br>
    <%= f.text_field :grp_name %>
    <% if @grp.errors.any? %>
    <%= @grp.errors.messages[:grp_name][0] %>
    <% end %>
</p>

<p>
    <%= f.submit %>
</p>

<% end %>