<h1>分類一覧</h1>

<ul>
  <% @grp.each do |grp| %>
    <li>
      <%= grp.grp_no %>
  	  <%= link_to grp.grp_name, grp_path(grp.id)%>
  	  <%= link_to "[Edit]", edit_grp_path(grp.id) %>
  	  <%= link_to "[Delete]", grp_path(grp.id), method: :delete,
  		  data: {confirm: "Are you sure?" } %>
    </li>
  <% end %>

  <p>追加</p>
    <%= form_for (Grp.new) do |f| %>
      <%= f.label :grp_no %><br>
      <%= f.text_field :grp_no %><br>
      <%= f.label :grp_name %><br>
	    <%= f.text_field :grp_name %><br>
	    <%= f.submit %>
	  <% end %>
</ul>
