<h1><%= @grp.grp_name %></h1>

<ul>
<% @grp.tois.each do |toi| %>
<li>
	<%= toi.toi_name %>
	<%= link_to "[Edit]", edit_grp_toi_path(toi.grp_no, toi.id) %>
  <%= link_to "[Delete]", grp_toi_path(toi.grp_no, toi.id), method: :delete,
  		data: {confirm: "Are you sure?" } %>
</li>	
<% end %>

<%= form_for [@grp, @grp.tois.build] do |f| %>
<p>
	<%= f.text_field :toi_name %>
	<%= f.submit %>
	<% end %>
</p>

</ul>
<%= link_to "分類一覧", grps_path %>